.center,
.center-column,
.top,
.right,
.bottom,
.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-column {
  flex-direction: column;
}

.top {
  align-items: flex-start;
}
.right {
  justify-content: flex-end;
}
.bottom {
  align-items: flex-end;
}
.left {
  justify-content: flex-start;
}

.single-spaced,
.single-spaced * {
  line-height: 1;
}

.hero {
  background: black url(../images/hero-1.jpg) center / cover;
}

@media (max-width: 1024px) {
  .hero {
    background: black url(../images/hero-2.jpg) center / cover;
  }

  .desktop {
    display: none;
  }
}

@media (max-width: 768px) {
  .hero {
    background: black url(../images/hero-3.jpg) center / cover;
  }
}
